@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Koulen:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-2 relative z-0 max-w-[1440px] mx-auto;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[100%] xl:h-full h-[600px] z-0;
}
/* END: Hero styles */

.my-masonry-grid {
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 8px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 8px;
}

.responsiveImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures nothing spills out if the image grows beyond the container */
  width: 80vw;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 640px) { /* sm */
  .responsiveImageContainer {
    width: 600px;
  }
}

@media (min-width: 768px) { /* md */
  .responsiveImageContainer {
    width: 750px;
  }
}

@media (min-width: 1024px) { /* lg */
  .responsiveImageContainer {
    width: 966px;
  }
}

.responsiveImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shadow-text-black {
  text-shadow: .5px .5px 0 black, -.5px -.5px 0 black, .5px -.5px 0 black, -.5px .5px 0 black;
}
